.request-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.request-form{
    width: 80%;
    height: 70%;
}
.request-container .request-title{
    text-align: center;
    padding: 5px;
    font-weight: 500px;
    font-size: 1.5em;
}
.request-container .request-box{
    margin: 10px;
}

.request-box textarea{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
}

.request-option{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.request-option select{
    padding: 5px;
    border-radius: 10px;
}

.request-option Button{
    height: 50px;
}

/* Button{
    background-color: #42B6EE;
} */

@media screen and (max-width:991px) {
    .request-form .request-option{
        flex-direction: column;
    }
    .request-container .request-box{
        margin: 0;
    }
}