@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.signIn-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    /* height: 280px; */
    background: #42B6EE;
    border: 1px solid #42B6EE;
    border-radius: 10px;
    padding: 2rem;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signIn-form .signin-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.signin-info label{
    width: 200px;
    margin-right: 10px;
}

.signin-info input:focus{
    background: transparent;
    outline: none;
}

.submit{
    font-size: 14px;
    padding: 7px 20px;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width:991px){
    .signIn-form{
        width: 270px;
    }
    .signin-info .form-label{
        display: none;
    }
    .signIn-form h1{
        font-size: 1.5rem;
    }
}